@font-face {
  font-family: RobotoMonoLight;
  src: url("./fonts/RobotoMono-Light.ttf");
}

@font-face {
  font-family: RobotoMonoRegular;
  src: url("./fonts/RobotoMono-Regular.ttf");
}

body {
  background-color: #222222;
  color: #eeeeee;
  font-family: RobotoMonoRegular;
  letter-spacing: 0.03rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cccccc;
}

img {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  z-index: -1;
  filter: blur(10px);
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: RobotoMonoLight;
  font-size: 2rem;
  font-weight: normal;
}

.content {
  margin: 0px 20px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  display: flex;
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.75rem;
}

.task-id {
  margin-right: 8px;
}

.done-btn {
  background: none;
  border: dashed 0.15rem #eeeeee;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-left: 16px;
  transition: 0.1s;
}

.done-btn:hover {
  background-color: #eeeeee;
}

.task-input {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 48px;
}

input {
  background: none;
  color: #eeeeee;
  display: block;
  padding: 10px;
  border: none;
  border-bottom: dashed 0.15rem #eeeeee;
}

::placeholder {
  color: #cccccc;
  letter-spacing: 0.07rem;
  font-size: 0.8rem;
  text-align: center;
}
